.App {
  text-align: center;
}
.modal-backdrop{
  z-index: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.red-team { 
  background-color: #cf1d29;
  color: #FFFFFF
}

.orange-team {
  background-color: #D86B2B;
  color: #FFFFFF
}

.yellow-team {
  background-color: #D9A82B;
  color: #282c34
}

.green-team {
  background-color: #167B1D;
  color: #FFFFFF
}

.blue-team {
  background-color: #172A76;
  color: #FFFFFF
}

.purple-team {
  background-color: #591E97;
  color: #FFFFFF;
}

.pink-team {
  background-color: #ED91CD;
  color: #282c34
}

.black-team {
  background-color: #282c34;
  color: #FFFFFF;
}

.white-team {
  background-color: #FFFFFF;
  color: black;
}


